.ContactForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  z-index: 11;
  opacity: 0;
  background: RGBA(0, 0, 0, 0.735);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.ContactForm.open {
  opacity: 1;
  pointer-events: auto;
}
.ContactForm .click-to-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.ContactForm .form-state {
  display: flex;
  flex-direction: column;
  background: #6177f4;
  padding: 15px 50px;
}
.ContactForm .complete-state {
  display: flex;
  flex-direction: column;
  background: #6177f4;
  padding: 15px 50px;
  min-width: 250px;
  min-height: 250px;
  justify-content: center;
  align-items: center;
}

.ContactForm .title {
  font-family: Bungee;
  color: white;
  font-size: 35px;
  margin-bottom: 15px;
}
.ContactForm .title.complete {
  text-shadow: 1px 1px #f47761, 2px 2px #f47761, 3px 3px #f47761,
    4px 4px #f47761, 5px 5px #f47761, 6px 6px #f47761, 7px 7px #f47761,
    8px 8px #f47761, 9px 9px #f47761;
}

.ContactForm input,
.ContactForm textarea {
  font-family: Roboto-Thin;
  border: 3px solid #f47761;
  border-radius: 3px;
  font-size: 17px;
  padding: 8px 10px;
  resize: none;
  margin-bottom: 15px;
  min-width: 450px;
}
.ContactForm textarea {
  min-height: 150px;
}
.ContactForm .error {
  border: 3px solid red;
}

.ContactForm .button {
  display: inline-block;
  font-family: Patua;
  letter-spacing: 0.3px;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 15px;
  border: 2px solid #f47761;
  color: #f47761;
  padding: 5px 10px;
  border-radius: 2px;
  transition: 0.25s;
}
.ContactForm .button:hover {
  cursor: pointer;
  background: #f47761;
  color: white;
}

/* Hiding stuff - sshh! */
.ContactForm .hidden {
  display: none;
}
