.ContactForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  z-index: 11;
  opacity: 0;
  background: RGBA(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.ContactForm.open {
  opacity: 1;
  pointer-events: auto;
}

.ContactForm .window {
  padding: 11px 50px;
  border-radius: 5px;
  background: #737cd8;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px #545baa;
}

.ContactForm .title {
  font-family: Bungee;
  font-size: 40px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  text-shadow: 1px 1px #f47761, 2px 2px #f47761, 3px 3px #f47761,
    4px 4px #f47761, 5px 5px #f47761, 6px 6px #f47761;
}

.ContactForm input,
.ContactForm textarea {
  position: relative;
  width: 600px;
  border: 0px;
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 22px;
  font-family: Roboto-Thin;
  margin-bottom: 20px;
  resize: none;
  box-shadow: inset 5px 5px 3px RGBA(0, 0, 0, 0.1);
}
.ContactForm textarea {
  min-height: 300px;
}

.ContactForm .button {
  margin: auto;
  font-family: Bungee;
  font-size: 22px;
  padding: 7px 30px;
  min-width: 200px;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: 2px solid #f47761;
  background: #f47761;
  transition: background-color 0.2s, opacity 0.2s, transform 0.05s,
    box-shadow 0.025s;
  margin-bottom: 15px;
  box-shadow: 5px 5px #ce5e4a;
}
.ContactForm .button:hover {
  cursor: pointer;
  color: white;
  transform: translateX(1px) translateY(1px);
  box-shadow: 4px 4px #ce5e4a;
}
.ContactForm .button:active {
  cursor: pointer;
  transform: translateX(2px) translateY(2px);
  box-shadow: 3px 3px #ce5e4a;
}
