.Project {
  position: relative;
  display: flex;
  margin: 125px 0px;
}
.Project:nth-child(even) {
  flex-direction: row-reverse;
}

/* The Text */
.Project .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 46%;
}

.Project .name {
  position: relative;
  font-family: Fredoka;
  font-size: 45px;
  color: white;
  text-shadow: 1px 1px #f47761, 2px 2px #f47761, 3px 3px #f47761,
    4px 4px #f47761;
  margin-bottom: 15px;
  padding-bottom: 10px;
  z-index: 1;
}
.Project .name::after {
  content: '';
  display: block;
  width: 100%;

  background: white;
  margin-top: 5px;
}

.Project .name .ribbon {
  position: absolute;
  width: 380px;
  height: 90%;
  top: 50%;
  left: -15px;
  transform: translateY(-60%);
  z-index: -1;
  image-rendering: pixelated;
}

.Project .description {
  font-family: Roboto-Thin;
  font-size: 16px;
  color: white;
  background: #f47761;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 7px 7px #d46552;
  line-height: 20px;
}

.Project .text-container a {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: underline;
  padding: 0px 5px;
  font-style: italic;
  transition: 0.1s;
  z-index: 1;
  background: RGBA(255, 255, 255, 0.1);
}
.Project .text-container a::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 0%;
  height: 100%;
  transform: translateX(-50%);
  background: #737cd8;
  z-index: -1;
  transition: 0.1s;
}
.Project .text-container a:hover::after {
  width: 101%;
}

.Project .link {
  align-self: flex-end;
  margin-top: 20px;
  font-family: Roboto-Thin;
  font-size: 17px;
  color: white;
  text-decoration: none;
}
.Project .link::after {
  content: '';
  display: none !important;
}
.Project:nth-child(even) .link {
  align-self: flex-start;
}

/* The Seperating Line */
.Project .line {
  background: white;
  margin: 0px 4%;
  width: 1px;
  height: 450px;
  opacity: 0.4;
}

/* The Images */
.Project .image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 46%;
}
.Project .image-container img {
  width: 100%;
  margin: auto;
  box-shadow: 0px 0px 10px RGBA(50, 50, 50, 0.3);
}
