.AboutMe {
  position: relative;
  background: #7d79e4;
  display: flex;
  height: 600px;
  z-index: 5;
}

.AboutMe .side {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutMe .side.left {
  /* Animation default */
  transform: scale(0);
}

.AboutMe .self-portrait {
  position: relative;
  display: block;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border: 20px solid white;
}

.AboutMe .header-text {
  font-family: Fredoka;
  font-size: 4vw;
  color: white;
  align-self: flex-start;
  margin: 10px 0px;
  text-shadow: 1px 1px #f47761, 2px 2px #f47761, 3px 3px #f47761,
    4px 4px #f47761, 5px 5px #f47761, 6px 6px #f47761, 7px 7px #f47761,
    8px 8px #f47761, 9px 9px #f47761, 10px 10px #f47761, 11px 11px #f47761,
    12px 12px #f47761, 13px 13px #f47761, 13px 13px #f47761;
  margin-bottom: 25px;

  /* Animatino Default */
  opacity: 0;
}
.AboutMe .sub-text {
  font-family: Roboto-Thin;
  font-size: 1.8vw;
  color: white;
  width: 90%;
  align-self: flex-start;

  /* Animation Default */
  opacity: 0;
}

/* Animations */
.AboutMe.anim .side.left {
  animation-name: popAnim;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes popAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: none;
  }
}

.AboutMe.anim .header-text,
.AboutMe.anim .sub-text {
  animation-name: fromRight;
  animation-duration: 0.7s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}
.AboutMe.anim .sub-text {
  animation-delay: 0.5s;
}
@keyframes fromRight {
  0% {
    transform: translate(25px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
