.ContactMe {
  position: relative;
  width: 100%;
  background: #f47761;
  padding-bottom: 75px;
}

.ContactMe .content {
  position: relative;
  width: 80%;
  max-width: 1750px;
  margin: auto;
  text-align: center;
}

.ContactMe .title {
  display: inline-block;
  font-family: Bungee;
  font-size: 45px;
  color: white;
  margin-top: 45px;

  text-shadow: 1px 1px #737cd8, 2px 2px #737cd8, 3px 3px #737cd8,
    4px 4px #737cd8, 5px 5px #737cd8, 6px 6px #737cd8, 7px 7px #737cd8,
    8px 8px #737cd8, 9px 9px #737cd8, 10px 10px #737cd8, 11px 11px #737cd8;

  /* Animation Defaults */
  opacity: 0;
  transform: translateY(-50px);
  transition: 1s;
}
.ContactMe.anim .title {
  opacity: 1;
  transform: translateY(0px);
}

.ContactMe .line {
  position: relative;
  width: 250px;
  background: white;
  margin: auto;
  height: 2px;
  transition: 0.2s;
  border-radius: 5px;
  margin-top: 20px;

  /* Animation Defaults */
  width: 0px;
  transition: 0.8s;
  transition-delay: 0.25s;
}
.ContactMe.anim .line {
  width: 250px;
}

.ContactMe .sub-text {
  font-family: Roboto-Thin;
  font-size: 19px;
  color: white;
  padding-top: 25px;
  max-width: 600px;
  margin: auto;

  /* Animation Defaults */
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.ContactMe.anim .sub-text {
  opacity: 1;
  transform: translateY(0px);
}

.ContactMe .contact-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.ContactMe .email {
  font-family: Roboto-Mono;
  font-size: 20px;
  color: white;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;

  /* Animation Defaults */
  opacity: 0;
  transform: translateX(25px);
  transition: 0.5s;
  transition-delay: 0.75s;
}
.ContactMe .email:hover {
  cursor: pointer;
}
.ContactMe.anim .contact-container .email {
  opacity: 1;
  transform: translateX(0px);
}

.ContactMe .bar {
  position: relative;
  display: block;
  width: 2px;
  height: 75px;
  margin: 0px 59px;
  background: white;

  /* Animation Defaults */
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.4s;
}
.ContactMe.anim .bar {
  opacity: 1;
}

.ContactMe .button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;

  /* Animation Defaults */
  opacity: 0;
  transform: translateX(-25px);
  transition: 0.5s;
  transition-delay: 0.75s;
}
.ContactMe.anim .contact-container .button-container {
  opacity: 1;
  transform: translateX(0px);
}
.ContactMe .button {
  color: white;
  font-size: 17px;
  font-family: Roboto;
  background: #6177f4;
  padding: 15px 25px;
  border-radius: 5px;
  transition: 0.1s;
  box-shadow: 0px 0px #4355bd, 1px 1px #4355bd, 2px 2px #4355bd, 3px 3px #4355bd,
    4px 4px #4355bd, 5px 5px #4355bd;
  white-space: nowrap;
}
.ContactMe .button i {
  margin-right: 0.3rem;
}
.ContactMe .button:hover {
  cursor: pointer;
  box-shadow: 0px 0px #4355bd, 1px 1px #4355bd, 2px 2px #4355bd, 3px 3px #4355bd;
  transform: translateX(2.5px) translateY(2.5px);
}
.ContactMe .button:active {
  cursor: pointer;
  box-shadow: 0px 0px #4355bd, 1px 1px #4355bd;
  transform: translateX(4.5px) translateY(4.5px);
}

/* The Ballpit canvas */
.ContactMe canvas {
  z-index: 0;
  animation: canvasIntro 2s ease 0.2s 1 normal forwards;
  /* Animation Defaults */
  opacity: 0;
}
@keyframes canvasIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

/* Media Queries */
@media (max-width: 750px) {
  .ContactMe .bar {
    margin: 0px 35px;
  }
  .ContactMe .sub-text {
    font-weight: 600;
  }
}
@media (max-width: 640px) {
  .ContactMe .contact-container {
    flex-direction: column;
  }
  .ContactMe .bar {
    width: 90%;
    height: 1px;
    margin: 20px 0px;
    margin-top: 25px;
  }
  .ContactMe .button-container {
    position: relative;
    width: auto;
    left: -4px;
  }
  .ContactMe .email {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 464px) {
  .ContactMe .sub-text {
    width: 100%;
  }
}
