.HomeFooter {
  position: relative;
  background: #6177f4;
}

/* The Content Wrapper */
.HomeFooter .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1450px;
  margin: auto;
  text-align: center;
  font-family: Roboto-Mono;
  font-size: 17px;
  color: white;
}

/* The Text */
.HomeFooter .text-container {
  padding-top: 33px;
  opacity: 0.6;
}
.HomeFooter .text-container div:nth-child(2) {
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 15px;
}

/* The Seperator Line */
.HomeFooter .line {
  position: relative;
  top: 5px;
  width: 200px;
  height: 1px;
  background: white;
  opacity: 0.5;
  margin: auto;
}

/* Links */
.HomeFooter .link-container {
  margin-top: 25px;
  padding-bottom: 33px;
}
.HomeFooter .link-container .link {
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin: 0px 15px;
  opacity: 0.4;
  transition: 0.3s;
}
.HomeFooter .link-container .link:hover {
  cursor: pointer;
  opacity: 1;
}
