.HomeHeader {
  position: relative;
  height: 750px;
  width: 100%;
  background: #f47761;
  display: flex;
  z-index: 0;
}

.HomeHeader .side {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.HomeHeader .divider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 1px;
  height: 50%;
  background: #f39886;
}

.HomeHeader .title {
  font-family: Bungee;
  font-size: 3.5vw;
  color: #737cd8;
  width: 80%;
}

.HomeHeader .text-container {
  width: 75%;
}
.HomeHeader .header-text {
  font-family: Patua;
  font-size: 3vw;
  color: white;
  margin-bottom: 15px;
}
.HomeHeader .header-text::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
  background: white;
  margin-top: 5px;
}
.HomeHeader .sub-text {
  font-family: Roboto-Mono;
  font-size: 1.5vw;
  color: white;
  width: 90%;
}
.HomeHeader .sub-text b {
  font-weight: 700;
  text-decoration: underline;
}

.HomeHeader .instructions {
  font-family: Roboto Mono;
  font-size: 1vw;
  color: white;
  opacity: 0.5;
  position: absolute;
  left: 50%;
  bottom: 3.5%;
}

/* Animations */
.HomeHeader.anim .title {
  opacity: 0;
  animation-name: fromLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
  }
}

.HomeHeader.anim .header-text {
  opacity: 0;
  animation-name: fromRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}
@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
  }
}

.HomeHeader.anim .sub-text {
  opacity: 0;
  animation-name: fromRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.9s;
}
@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
  }
}

.HomeHeader.anim .divider {
  height: 0;
  animation-name: growHeight;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 1.25s;
}
@keyframes growHeight {
  0% {
    height: 0;
  }
  100% {
    height: 85%;
  }
}

.HomeHeader.anim .instructions {
  transform: translateX(-50%) translateY(25%);
  opacity: 0;
  animation-name: fromBottom;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 6.3s;
}
@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(25%);
  }
  100% {
    transform: translateX(-50%);
    opacity: 0.4;
  }
}
