.HomeHeader {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #f47761;
  z-index: 0;
}

/* The Foreground Content */
.HomeHeader .content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1750px;
  margin: auto;
  height: 100%;
  display: flex;
}

.HomeHeader .side {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.HomeHeader .divider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 1px;
  height: 30%;
  background: #f39886;
}
.HomeHeader .divider::after,
.HomeHeader .divider::before {
  content: '';
  position: absolute;
  top: 100%;
  transform-origin: 50% 0%;
  width: 1px;
  height: 25px;
  transform: rotate(-130deg);
  background: #f39886;
}
.HomeHeader .divider::before {
  transform: rotate(130deg);
}

.HomeHeader .title {
  font-family: Bungee;
  font-size: 54px;
  color: #737cd8;
  width: 80%;
}
.HomeHeader .title img {
  width: 45px;
  position: relative;
  top: 0.2vw;
}

.HomeHeader .text-container {
  width: 75%;
}
.HomeHeader .header-text {
  font-family: Patua;
  font-size: 45px;
  color: white;
  margin-bottom: 15px;
}
.HomeHeader .header-text::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
  background: white;
  margin-top: 5px;
}
.HomeHeader .sub-text {
  font-family: Roboto-Mono;
  font-size: 25px;
  color: white;
  width: 90%;
}
.HomeHeader .sub-text b {
  font-weight: 700;
  text-decoration: underline;
}

.HomeHeader .instructions {
  position: absolute;
  left: 50%;
  bottom: 3.5%;
}
.HomeHeader .instructions::after {
  content: '(Move Your Mouse)';
  font-family: Roboto Mono;
  font-size: 15px;
  color: white;
  opacity: 0.7;
}

/* Animations */
.HomeHeader.anim .title {
  opacity: 0;
  animation-name: fromLeftHeaderTitle;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes fromLeftHeaderTitle {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
  }
}

.HomeHeader.anim .header-text {
  opacity: 0;
  animation-name: fromRightHeaderText;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}
@keyframes fromRightHeaderText {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
  }
}

.HomeHeader.anim .sub-text {
  opacity: 0;
  animation-name: fromRightHeaderText;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.9s;
}

.HomeHeader.anim .divider {
  height: 0;
  animation-name: growHeightHeaderDivider;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 1.25s;
}
@keyframes growHeightHeaderDivider {
  0% {
    height: 0;
  }
  100% {
    height: 78%;
  }
}

.HomeHeader.anim .divider::after,
.HomeHeader.anim .divider::before {
  height: 0;
  animation-name: arrowGrow;
  animation-duration: 0.8s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
@keyframes arrowGrow {
  0% {
    height: 0;
  }
  100% {
    height: 20px;
  }
}

.HomeHeader.anim .instructions {
  transform: translateX(-50%) translateY(25%);
  opacity: 0;
  animation-name: fromBottom;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 2.25s;
}
@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-25%);
  }
  100% {
    transform: translateX(-50%);
    opacity: 0.4;
  }
}

/* Media Queries */
@media (min-width: 1575px) {
  .HomeHeader .title {
    font-size: 65px;
  }
  .HomeHeader .header-text {
    font-size: 55px;
  }
  .HomeHeader .sub-text {
    font-size: 30px;
  }
}
@media (min-width: 2000px) {
  .HomeHeader .title {
    font-size: 75px;
  }
}
@media (max-width: 1000px) {
  .HomeHeader .title {
    font-size: 40px;
  }
  .HomeHeader .text-container {
    width: 85%;
  }
  .HomeHeader .header-text {
    font-size: 40px;
  }
  .HomeHeader .sub-text {
    font-size: 23px;
    line-height: 28px;
  }
}
@media (max-width: 768px) {
  /* Switch to column layout */
  .HomeHeader {
    height: 80vh;
  }
  .HomeHeader .content {
    flex-direction: column;
  }
  .HomeHeader .side {
    height: 50%;
  }

  /* What was the left side content */
  .HomeHeader .side.left {
    display: none;
  }

  /* The center divider */
  .HomeHeader .divider {
    display: none;
  }

  /* The Instructions */
  .HomeHeader .instructions::after {
    content: '(Mouse Your Mouse/Finger)';
  }

  /* What was the right side content */
  .HomeHeader .side.right {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .HomeHeader .header-text::after {
    height: 2px;
  }
  .HomeHeader .sub-text {
    width: 100%;
  }
}
