.MyDesign {
  position: relative;
  width: 100%;
  background: #6177f4;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1;
}

/* The Content */
.MyDesign .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1250px;
  margin: auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}

.MyDesign .section-title {
  font-family: Concert;
  color: white;
  font-size: 70px;
  text-shadow: 1px 1px #f47761, 2px 2px #f47761, 3px 3px #f47761,
    4px 4px #f47761, 5px 5px #f47761, 6px 6px #f47761, 7px 7px #f47761,
    8px 8px #f47761, 9px 9px #f47761, 10px 10px #f47761, 11px 11px #f47761,
    12px 12px #f47761, 13px 13px #f47761, 14px 14px #f47761, 15px 15px #f47761,
    16px 16px #f47761, 17px 17px #f47761, 18px 18px #f47761;
  margin-bottom: 35px;

  /* Animation Default */
  opacity: 0;
}
.MyDesign .section-sub-text {
  font-family: roboto-thin;
  font-size: 21px;
  color: white;
  text-align: center;
  width: 80%;
  margin-bottom: 50px;

  /* Animation Default */
  opacity: 0;
}

.MyDesign .svg-container {
  display: flex;
  justify-content: center;
  width: 80%;
  top: 50%;
  margin-bottom: 35px;

  /* Animation Default */
  opacity: 0;
}
.MyDesign .svg {
  width: 80px;
  margin: 0px 50px;
}

.MyDesign .line-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 2px;
}
.MyDesign .line-container .line {
  width: 20px;
  height: 2px;
  background: white;
  border-radius: 5px;
  margin: 0px 50px;
  margin-bottom: 100px;
  position: relative;

  /* Animation Default */
  opacity: 0;
}

/* Animations */
.MyDesign.anim .section-title {
  animation-name: MyDesignFromBelow;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
@keyframes MyDesignFromBelow {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}

.MyDesign.anim .section-sub-text {
  animation-name: MyDesignFromBelow;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.MyDesign.anim .svg-container {
  animation-name: MyDesignFadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes MyDesignFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.MyDesign.anim .line-container .line {
  animation-name: growAnim;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.MyDesign.anim .line-container .line:nth-child(1),
.MyDesign.anim .line-container .line:nth-child(3) {
  animation-delay: 0.25s;
}
@keyframes growAnim {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 20px;
    opacity: 1;
  }
}
