.MyWork {
  position: relative;
  width: 100%;
  background: #f47761;
  padding-top: 100px;
  min-height: 500px; /* For Testing */
}

.MyWork .section {
  margin-bottom: 100px;
  display: flex;
}

.MyWork .section .side.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.MyWork .section .side.right {
  width: 65%;
  display: flex;
  justify-content: flex-end;
}
.MyWork .section .section-title {
  font-family: Fredoka;
  color: white;
  font-size: 37px;
  text-shadow: 1px 1px #737cd8, 2px 2px #737cd8, 3px 3px #737cd8,
    4px 4px #737cd8, 5px 5px #737cd8, 6px 6px #737cd8, 7px 7px #737cd8;
  margin-bottom: 25px;
  margin-left: 100px;
}
.MyWork .section .section-sub-text {
  font-family: roboto-thin;
  font-size: 21px;
  color: white;
  text-align: left;
  width: 90%;

  margin-top: 50px;
  margin-right: 50px;
}
